ifcCheckerRules/Diagrams/RulesScheme 1.1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FileNamePlaceholder">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:short" name="order"/>
          <xs:attribute type="xs:string" name="type"/>
          <xs:attribute type="xs:string" name="value" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Color">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="r"/>
          <xs:attribute type="xs:byte" name="g"/>
          <xs:attribute type="xs:byte" name="b"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ifcClass">
    <xs:complexType>
      <xs:attribute type="xs:string" name="ifcClass" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Attribute">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name"/>
          <xs:attribute type="xs:string" name="type"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comparison">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="comparisonType"/>
          <xs:attribute type="xs:string" name="comparisonValue"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileNameMask">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FileNamePlaceholder" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="separator"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryElementColors">
    <xs:complexType>
		<xs:sequence>
			<xs:element ref="Color"/>
			<xs:element ref="ifcClass"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="attributeName"/>
		<xs:attribute type="xs:string" name="attributeValue"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Coordinates">
    <xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" use="optional"/>
				<xs:attribute type="xs:float" name="n" use="optional"/>
				<xs:attribute type="xs:float" name="e" use="optional"/>
				<xs:attribute type="xs:short" name="a" use="optional"/>
				<xs:attribute type="xs:byte" name="r" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttributesComparison">
    <xs:complexType>
      <xs:sequence>
		  <xs:element ref="ifcClass" maxOccurs="unbounded"/>
		  <xs:element ref="Attribute" />
		  <xs:element ref="Comparison" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IfcCheckerRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FileNameMask" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="CategoryElementColors" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="Coordinates" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="AttributesComparison" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="ifcVersion"/>
      <xs:attribute type="xs:short" name="fileSize"/>
    </xs:complexType>
  </xs:element>
</xs:schema>